{{!< default}}

{{#post}}

<main id="gh-main" class="">
    <article class="gh-article {{post_class}}">
aosduifyhalkjsd
        <div class="">
            {{content}}
        </div>

    </article>
</main>

{{/post}}